In [1]:
from fullmethod import display_results, display_usecases

In [2]:
display_usecases()

,Description,Dataset Prefix
0,What factors contribute to bus revenues?,demo_lake/busridertbl.csv
1,What factors contribute to soccer players' success?,demo_lake/soccerplayertbl.csv
2,What factors affect hospital congestion?,demo_lake/hospitaltbl.csv
3,What factors affect bank revenues?,demo_lake/banktbl.csv
4,Does where a politician was educated affect their popularity?,demo_lake/politiciantbl.csv
5,What other factors help me predict churn for banking customers?,demo_lake/Churn_Modelling.csv
6,What other factors would help me predict audit risk?,demo_lake/audit_risk.csv
7,What factors can help me determine if a client subscribe a term deposit?,demo_lake/bank_full.csv
8,What factors help in predicting credit card default?,demo_lake/default.csv
9,How can I segment bank customers?,demo_lake/german_credit.csv
10,How does the growth of ETFs compare to that of similar funds?,demo_lake/ETF prices.csv

In [3]:
display_results('demo_lake/busridertbl.csv')

In [4]:
display_results('demo_lake/ETF prices.csv')

In [6]:
display_results('demo_lake/soccertbl.csv')