In [1]:
from fullmethod import display_results, display_usecases

In [2]:
display_usecases()

,Description,Dataset Prefix
0,What factors contribute to bus revenues?,demo_lake/busridertbl.csv
1,What factors contribute to soccer players' success?,demo_lake/soccerplayertbl.csv
2,What factors affect hospital congestion?,demo_lake/hospitaltbl.csv
3,What factors affect bank revenues?,demo_lake/banktbl.csv
4,Does where a politician was educated affect their popularity?,demo_lake/politiciantbl.csv
5,What other factors help me predict churn for banking customers?,demo_lake/Churn_Modelling.csv
6,What other factors would help me predict audit risk?,demo_lake/audit_risk.csv
7,What factors can help me determine if a client subscribe a term deposit?,demo_lake/bank_full.csv
8,What factors help in predicting credit card default?,demo_lake/default.csv
9,How can I segment bank customers?,demo_lake/german_credit.csv
10,How does the growth of ETFs compare to that of similar funds?,demo_lake/ETF prices.csv

In [3]:
from numex_apis import show_lshjoins

In [4]:
show_lshjoins('demo_lake/busridertbl.csv')

{'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0': ['demo_lake_politicianjoin.csv_Unnamed: 0.1', 'demo_lake_bank_cleantbl.csv_Unnamed: 0', 'demo_lake_politiciantbl.csv_dbo:education', 'demo_lake_soccerjoin.csv_dbp:hdi', 'demo_lake_politicianjoin.csv_dbo:endowment', 'demo_lake_politiciantbl.csv_dbo:Politician', 'demo_lake_bank_cleanjoin.csv_<http://dbpedia.org/ontology/PopulatedPlace/populationDensity>', 'demo_lake_soccerjoin.csv_Unnamed: 0.1', 'demo_lake_politiciantbl.csv_<http://dbpedia.org/property/votes>', 'demo_lake_politiciantbl.csv_Unnamed: 0', 'demo_lake_soccerjoin.csv_<http://dbpedia.org/ontology/PopulatedPlace/populationDensity>', 'demo_lake_bank_cleanjoin.csv_Unnamed: 0.1', 'demo_lake_bank_cleantbl.csv_<http://dbpedia.org/property/revenue>', 'demo_lake_bank_cleantbl.csv_Unnamed: 0.1.1', 'demo_lake_bank_cleantbl.csv_dbo:Bank', 'demo_lake_politicianjoin.csv_Unnamed: 0', 'demo_lake_bank_cleantbl.csv_dbo:location', 'demo_lake_politiciantbl.csv_Unnamed: 0.1', 'demo_lake_bank_cleanjoin.csv_dbo:location', 'demo_lake_soccerjoin.csv_dbp:birthPlace', 'demo_lake_bank_cleanjoin.csv_Unnamed: 0', 'demo_lake_politicianjoin.csv_dbo:education', 'demo_lake_soccerjoin.csv_Unnamed: 0', 'demo_lake_bank_cleantbl.csv_Unnamed: 0.1'], 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1': ['demo_lake_politicianjoin.csv_Unnamed: 0.1', 'demo_lake_bank_cleantbl.csv_Unnamed: 0', 'demo_lake_politiciantbl.csv_dbo:education', 'demo_lake_soccerjoin.csv_dbp:hdi', 'demo_lake_politicianjoin.csv_dbo:endowment', 'demo_lake_politiciantbl.csv_dbo:Politician', 'demo_lake_bank_cleanjoin.csv_<http://dbpedia.org/ontology/PopulatedPlace/populationDensity>', 'demo_lake_soccerjoin.csv_Unnamed: 0.1', 'demo_lake_politiciantbl.csv_<http://dbpedia.org/property/votes>', 'demo_lake_politiciantbl.csv_Unnamed: 0', 'demo_lake_soccerjoin.csv_<http://dbpedia.org/ontology/PopulatedPlace/populationDensity>', 'demo_lake_bank_cleanjoin.csv_Unnamed: 0.1', 'demo_lake_bank_cleantbl.csv_<http://dbpedia.org/property/revenue>', 'demo_lake_bank_cleantbl.csv_Unnamed: 0.1.1', 'demo_lake_bank_cleantbl.csv_dbo:Bank', 'demo_lake_politicianjoin.csv_Unnamed: 0', 'demo_lake_bank_cleantbl.csv_dbo:location', 'demo_lake_politiciantbl.csv_Unnamed: 0.1', 'demo_lake_bank_cleanjoin.csv_dbo:location', 'demo_lake_soccerjoin.csv_dbp:birthPlace', 'demo_lake_bank_cleanjoin.csv_Unnamed: 0', 'demo_lake_politicianjoin.csv_dbo:education', 'demo_lake_soccerjoin.csv_Unnamed: 0', 'demo_lake_bank_cleantbl.csv_Unnamed: 0.1'], 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_dbo:BusCompany': [], 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_<http://dbpedia.org/property/annualRidership>': [], 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_<http://dbpedia.org/ontology/numberOfLines>': [], 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_dbo:regionServed': []}
{'Output Table': ['demo_lake_politicianjoin.csv_Unnamed: 0.1', 'demo_lake_bank_cleantbl.csv_Unnamed: 0', 'demo_lake_politiciantbl.csv_dbo:education', 'demo_lake_soccerjoin.csv_dbp:hdi', 'demo_lake_politicianjoin.csv_dbo:endowment', 'demo_lake_politiciantbl.csv_dbo:Politician', 'demo_lake_bank_cleanjoin.csv_<http://dbpedia.org/ontology/PopulatedPlace/populationDensity>', 'demo_lake_soccerjoin.csv_Unnamed: 0.1', 'demo_lake_politiciantbl.csv_<http://dbpedia.org/property/votes>', 'demo_lake_politiciantbl.csv_Unnamed: 0', 'demo_lake_soccerjoin.csv_<http://dbpedia.org/ontology/PopulatedPlace/populationDensity>', 'demo_lake_bank_cleanjoin.csv_Unnamed: 0.1', 'demo_lake_bank_cleantbl.csv_<http://dbpedia.org/property/revenue>', 'demo_lake_bank_cleantbl.csv_Unnamed: 0.1.1', 'demo_lake_bank_cleantbl.csv_dbo:Bank', 'demo_lake_politicianjoin.csv_Unnamed: 0', 'demo_lake_bank_cleantbl.csv_dbo:location', 'demo_lake_politiciantbl.csv_Unnamed: 0.1', 'demo_lake_bank_cleanjoin.csv_dbo:location', 'demo_lake_soccerjoin.csv_dbp:birthPlace', 'demo_lake_bank_cleanjoin.csv_Unnamed: 0', 'demo_lake_politicianjoin.csv_dbo:education', 'demo_lake_soccerjoin.csv_Unnamed: 0', 'demo_lake_bank_cleantbl.csv_Unnamed: 0.1', 'demo_lake_politicianjoin.csv_Unnamed: 0.1', 'demo_lake_bank_cleantbl.csv_Unnamed: 0', 'demo_lake_politiciantbl.csv_dbo:education', 'demo_lake_soccerjoin.csv_dbp:hdi', 'demo_lake_politicianjoin.csv_dbo:endowment', 'demo_lake_politiciantbl.csv_dbo:Politician', 'demo_lake_bank_cleanjoin.csv_<http://dbpedia.org/ontology/PopulatedPlace/populationDensity>', 'demo_lake_soccerjoin.csv_Unnamed: 0.1', 'demo_lake_politiciantbl.csv_<http://dbpedia.org/property/votes>', 'demo_lake_politiciantbl.csv_Unnamed: 0', 'demo_lake_soccerjoin.csv_<http://dbpedia.org/ontology/PopulatedPlace/populationDensity>', 'demo_lake_bank_cleanjoin.csv_Unnamed: 0.1', 'demo_lake_bank_cleantbl.csv_<http://dbpedia.org/property/revenue>', 'demo_lake_bank_cleantbl.csv_Unnamed: 0.1.1', 'demo_lake_bank_cleantbl.csv_dbo:Bank', 'demo_lake_politicianjoin.csv_Unnamed: 0', 'demo_lake_bank_cleantbl.csv_dbo:location', 'demo_lake_politiciantbl.csv_Unnamed: 0.1', 'demo_lake_bank_cleanjoin.csv_dbo:location', 'demo_lake_soccerjoin.csv_dbp:birthPlace', 'demo_lake_bank_cleanjoin.csv_Unnamed: 0', 'demo_lake_politicianjoin.csv_dbo:education', 'demo_lake_soccerjoin.csv_Unnamed: 0', 'demo_lake_bank_cleantbl.csv_Unnamed: 0.1'], 'Output Table Join Key': ['demo_lake_politicianjoin.csv_Unnamed: 0.1', 'demo_lake_bank_cleantbl.csv_Unnamed: 0', 'demo_lake_politiciantbl.csv_dbo:education', 'demo_lake_soccerjoin.csv_dbp:hdi', 'demo_lake_politicianjoin.csv_dbo:endowment', 'demo_lake_politiciantbl.csv_dbo:Politician', 'demo_lake_bank_cleanjoin.csv_<http://dbpedia.org/ontology/PopulatedPlace/populationDensity>', 'demo_lake_soccerjoin.csv_Unnamed: 0.1', 'demo_lake_politiciantbl.csv_<http://dbpedia.org/property/votes>', 'demo_lake_politiciantbl.csv_Unnamed: 0', 'demo_lake_soccerjoin.csv_<http://dbpedia.org/ontology/PopulatedPlace/populationDensity>', 'demo_lake_bank_cleanjoin.csv_Unnamed: 0.1', 'demo_lake_bank_cleantbl.csv_<http://dbpedia.org/property/revenue>', 'demo_lake_bank_cleantbl.csv_Unnamed: 0.1.1', 'demo_lake_bank_cleantbl.csv_dbo:Bank', 'demo_lake_politicianjoin.csv_Unnamed: 0', 'demo_lake_bank_cleantbl.csv_dbo:location', 'demo_lake_politiciantbl.csv_Unnamed: 0.1', 'demo_lake_bank_cleanjoin.csv_dbo:location', 'demo_lake_soccerjoin.csv_dbp:birthPlace', 'demo_lake_bank_cleanjoin.csv_Unnamed: 0', 'demo_lake_politicianjoin.csv_dbo:education', 'demo_lake_soccerjoin.csv_Unnamed: 0', 'demo_lake_bank_cleantbl.csv_Unnamed: 0.1', 'demo_lake_politicianjoin.csv_Unnamed: 0.1', 'demo_lake_bank_cleantbl.csv_Unnamed: 0', 'demo_lake_politiciantbl.csv_dbo:education', 'demo_lake_soccerjoin.csv_dbp:hdi', 'demo_lake_politicianjoin.csv_dbo:endowment', 'demo_lake_politiciantbl.csv_dbo:Politician', 'demo_lake_bank_cleanjoin.csv_<http://dbpedia.org/ontology/PopulatedPlace/populationDensity>', 'demo_lake_soccerjoin.csv_Unnamed: 0.1', 'demo_lake_politiciantbl.csv_<http://dbpedia.org/property/votes>', 'demo_lake_politiciantbl.csv_Unnamed: 0', 'demo_lake_soccerjoin.csv_<http://dbpedia.org/ontology/PopulatedPlace/populationDensity>', 'demo_lake_bank_cleanjoin.csv_Unnamed: 0.1', 'demo_lake_bank_cleantbl.csv_<http://dbpedia.org/property/revenue>', 'demo_lake_bank_cleantbl.csv_Unnamed: 0.1.1', 'demo_lake_bank_cleantbl.csv_dbo:Bank', 'demo_lake_politicianjoin.csv_Unnamed: 0', 'demo_lake_bank_cleantbl.csv_dbo:location', 'demo_lake_politiciantbl.csv_Unnamed: 0.1', 'demo_lake_bank_cleanjoin.csv_dbo:location', 'demo_lake_soccerjoin.csv_dbp:birthPlace', 'demo_lake_bank_cleanjoin.csv_Unnamed: 0', 'demo_lake_politicianjoin.csv_dbo:education', 'demo_lake_soccerjoin.csv_Unnamed: 0', 'demo_lake_bank_cleantbl.csv_Unnamed: 0.1'], 'Input Table Join Key': ['demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1', 'demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1']}

,Output Table,Output Table Join Key,Input Table Join Key
0,demo_lake_politicianjoin.csv_Unnamed: 0.1,demo_lake_politicianjoin.csv_Unnamed: 0.1,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0
1,demo_lake_bank_cleantbl.csv_Unnamed: 0,demo_lake_bank_cleantbl.csv_Unnamed: 0,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0
2,demo_lake_politiciantbl.csv_dbo:education,demo_lake_politiciantbl.csv_dbo:education,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0
3,demo_lake_soccerjoin.csv_dbp:hdi,demo_lake_soccerjoin.csv_dbp:hdi,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0
4,demo_lake_politicianjoin.csv_dbo:endowment,demo_lake_politicianjoin.csv_dbo:endowment,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0
5,demo_lake_politiciantbl.csv_dbo:Politician,demo_lake_politiciantbl.csv_dbo:Politician,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0
6,demo_lake_bank_cleanjoin.csv_<http://dbpedia.org/ontology/PopulatedPlace/populationDensity>,demo_lake_bank_cleanjoin.csv_<http://dbpedia.org/ontology/PopulatedPlace/populationDensity>,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0
7,demo_lake_soccerjoin.csv_Unnamed: 0.1,demo_lake_soccerjoin.csv_Unnamed: 0.1,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0
8,demo_lake_politiciantbl.csv_<http://dbpedia.org/property/votes>,demo_lake_politiciantbl.csv_<http://dbpedia.org/property/votes>,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0
9,demo_lake_politiciantbl.csv_Unnamed: 0,demo_lake_politiciantbl.csv_Unnamed: 0,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0
10,demo_lake_soccerjoin.csv_<http://dbpedia.org/ontology/PopulatedPlace/populationDensity>,demo_lake_soccerjoin.csv_<http://dbpedia.org/ontology/PopulatedPlace/populationDensity>,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0
11,demo_lake_bank_cleanjoin.csv_Unnamed: 0.1,demo_lake_bank_cleanjoin.csv_Unnamed: 0.1,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0
12,demo_lake_bank_cleantbl.csv_<http://dbpedia.org/property/revenue>,demo_lake_bank_cleantbl.csv_<http://dbpedia.org/property/revenue>,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0
13,demo_lake_bank_cleantbl.csv_Unnamed: 0.1.1,demo_lake_bank_cleantbl.csv_Unnamed: 0.1.1,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0
14,demo_lake_bank_cleantbl.csv_dbo:Bank,demo_lake_bank_cleantbl.csv_dbo:Bank,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0
15,demo_lake_politicianjoin.csv_Unnamed: 0,demo_lake_politicianjoin.csv_Unnamed: 0,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0
16,demo_lake_bank_cleantbl.csv_dbo:location,demo_lake_bank_cleantbl.csv_dbo:location,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0
17,demo_lake_politiciantbl.csv_Unnamed: 0.1,demo_lake_politiciantbl.csv_Unnamed: 0.1,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0
18,demo_lake_bank_cleanjoin.csv_dbo:location,demo_lake_bank_cleanjoin.csv_dbo:location,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0
19,demo_lake_soccerjoin.csv_dbp:birthPlace,demo_lake_soccerjoin.csv_dbp:birthPlace,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0
20,demo_lake_bank_cleanjoin.csv_Unnamed: 0,demo_lake_bank_cleanjoin.csv_Unnamed: 0,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0
21,demo_lake_politicianjoin.csv_dbo:education,demo_lake_politicianjoin.csv_dbo:education,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0
22,demo_lake_soccerjoin.csv_Unnamed: 0,demo_lake_soccerjoin.csv_Unnamed: 0,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0
23,demo_lake_bank_cleantbl.csv_Unnamed: 0.1,demo_lake_bank_cleantbl.csv_Unnamed: 0.1,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0
24,demo_lake_politicianjoin.csv_Unnamed: 0.1,demo_lake_politicianjoin.csv_Unnamed: 0.1,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1
25,demo_lake_bank_cleantbl.csv_Unnamed: 0,demo_lake_bank_cleantbl.csv_Unnamed: 0,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1
26,demo_lake_politiciantbl.csv_dbo:education,demo_lake_politiciantbl.csv_dbo:education,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1
27,demo_lake_soccerjoin.csv_dbp:hdi,demo_lake_soccerjoin.csv_dbp:hdi,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1
28,demo_lake_politicianjoin.csv_dbo:endowment,demo_lake_politicianjoin.csv_dbo:endowment,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1
29,demo_lake_politiciantbl.csv_dbo:Politician,demo_lake_politiciantbl.csv_dbo:Politician,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1
30,demo_lake_bank_cleanjoin.csv_<http://dbpedia.org/ontology/PopulatedPlace/populationDensity>,demo_lake_bank_cleanjoin.csv_<http://dbpedia.org/ontology/PopulatedPlace/populationDensity>,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1
31,demo_lake_soccerjoin.csv_Unnamed: 0.1,demo_lake_soccerjoin.csv_Unnamed: 0.1,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1
32,demo_lake_politiciantbl.csv_<http://dbpedia.org/property/votes>,demo_lake_politiciantbl.csv_<http://dbpedia.org/property/votes>,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1
33,demo_lake_politiciantbl.csv_Unnamed: 0,demo_lake_politiciantbl.csv_Unnamed: 0,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1
34,demo_lake_soccerjoin.csv_<http://dbpedia.org/ontology/PopulatedPlace/populationDensity>,demo_lake_soccerjoin.csv_<http://dbpedia.org/ontology/PopulatedPlace/populationDensity>,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1
35,demo_lake_bank_cleanjoin.csv_Unnamed: 0.1,demo_lake_bank_cleanjoin.csv_Unnamed: 0.1,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1
36,demo_lake_bank_cleantbl.csv_<http://dbpedia.org/property/revenue>,demo_lake_bank_cleantbl.csv_<http://dbpedia.org/property/revenue>,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1
37,demo_lake_bank_cleantbl.csv_Unnamed: 0.1.1,demo_lake_bank_cleantbl.csv_Unnamed: 0.1.1,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1
38,demo_lake_bank_cleantbl.csv_dbo:Bank,demo_lake_bank_cleantbl.csv_dbo:Bank,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1
39,demo_lake_politicianjoin.csv_Unnamed: 0,demo_lake_politicianjoin.csv_Unnamed: 0,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1
40,demo_lake_bank_cleantbl.csv_dbo:location,demo_lake_bank_cleantbl.csv_dbo:location,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1
41,demo_lake_politiciantbl.csv_Unnamed: 0.1,demo_lake_politiciantbl.csv_Unnamed: 0.1,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1
42,demo_lake_bank_cleanjoin.csv_dbo:location,demo_lake_bank_cleanjoin.csv_dbo:location,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1
43,demo_lake_soccerjoin.csv_dbp:birthPlace,demo_lake_soccerjoin.csv_dbp:birthPlace,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1
44,demo_lake_bank_cleanjoin.csv_Unnamed: 0,demo_lake_bank_cleanjoin.csv_Unnamed: 0,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1
45,demo_lake_politicianjoin.csv_dbo:education,demo_lake_politicianjoin.csv_dbo:education,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1
46,demo_lake_soccerjoin.csv_Unnamed: 0,demo_lake_soccerjoin.csv_Unnamed: 0,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1
47,demo_lake_bank_cleantbl.csv_Unnamed: 0.1,demo_lake_bank_cleantbl.csv_Unnamed: 0.1,demo_lake/busridertbl.csv_demo_lake_busridertbl.csv_Unnamed: 0.1

In [6]:
from numex_apis import show_semantic_labels
show_semantic_labels('demo_lake/busridertbl.csv')

,Column Name,Best Semantic Label,Membership Probability
0,<http://dbpedia.org/property/annualRidership>,"(['dbo:BusCompany'], '<http://dbpedia.org/property/annualRidership>')",0.99999
1,<http://dbpedia.org/ontology/numberOfLines>,"(['dbo:BusCompany'], '<http://dbpedia.org/ontology/numberOfLines>')",0.99999

In [7]:
from numex_apis import avg_member_entropy

avg_member_entropy('demo_lake/busridertbl.csv', 
                   'demo_lake/busriderjoin.csv')

   Average Entropy Recommended Method  Entropy Threshold
0         0.328888           KG-based                0.5

In [10]:
import pandas as pd
from numex_apis import disambiguate_onerow

indf = pd.read_csv('demo_lake/busridertbl.csv')
outdf = pd.read_csv('demo_lake/busriderjoin.csv')
joindf = indf.merge(outdf, left_on='dbo:regionServed', right_on='dbo:regionServed')
row0 = joindf.to_dict(orient='records')[0]

disambiguate_onerow('demo_lake/busridertbl.csv', 'demo_lake/busriderjoin.csv', row0)

cpart1: {('dbo:BusCompany',): [('<http://dbpedia.org/property/annualRidership>', '<http://dbpedia.org/property/annualRidership>'), ('<http://dbpedia.org/ontology/numberOfLines>', '<http://dbpedia.org/ontology/numberOfLines>')]}
cpart2: {(): [('<http://dbpedia.org/ontology/PopulatedPlace/areaTotal>', '<http://dbpedia.org/ontology/PopulatedPlace/areaTotal>'), ('dbo:percentageOfAreaWater', 'dbo:percentageOfAreaWater')]}
Querying Endpoint q1
disambiguate results: select ?subject where { ?subject a dbo:BusCompany . ?subject <http://dbpedia.org/property/annualRidership> ?val0 . ?subject <http://dbpedia.org/ontology/numberOfLines> ?val1 . FILTER (  ( xsd:float( ?val0) - 2956600.0)* ( xsd:float( ?val0) - 2956600.0) < 0.00005 &&  ( xsd:float( ?val1) - 31)* ( xsd:float( ?val1) - 31) < 0.00005 )  }, {'head': {'link': [], 'vars': ['subject']}, 'results': {'distinct': False, 'ordered': True, 'bindings': [{'subject': {'type': 'uri', 'value': 'http://dbpedia.org/resource/ShuttleUM'}}]}}

({('dbo:BusCompany',): ['http://dbpedia.org/resource/ShuttleUM']},
 {(): ['http://dbpedia.org/resource/Montgomery_County,_Maryland']})

# In-Progress APIs

In [ ]:
from numex_apis import find_relationships, \
                       find_kgscore, \
                       show_topk_kgmatches, \
                       show_proxy_table, \
                       show_topk_nonkgmatches

In [4]:
display_results('demo_lake/ETF prices.csv')

In [6]:
display_results('demo_lake/soccertbl.csv')