Welcome to our demo! In this demo, we present SYSTEM, our method for discovering joins that introduce semantically related features. SYSTEM chooses between a knowledge-graph based method and a non-knowledge-graph-based method. Our demo is structured as follows:

(1) We will display a list of input datasets representing interesting use cases, a few of which are discussed in our paper. Users can explore these, and pick one to find joinable datasets.
(2) Then, we will display color coded datasets, where the join keys are colored, and, if the joins are KG joins, the entities we think represent each row of each table are displayed as well.
(3) For non-KG joins, we display the proxy table from the data lake that best representsthe input.

In [4]:
import pandas as pd
import seaborn as sns
from fullmethod import display_df,display_results #, display_kg

## Example 1: Joining Bus Company Revenues and Population Densities using a Knowledge Graph

Suppose a data analyst is interested in understanding what factors contribute to the financial success of bus companies. While the analyst has statistics on the bus companies themselves, such as revenue and annual ridership, there could be many external factors as well. To discover these factors, the analyst wants to find joins that introduce semantically related columns to their input bus company dataset. Then, she could, for example, find a correlation between the introduced columns and the bus company revenue column to determine whether the introduced columns are external factors affecting bus company financial success.

In this example, we show how a user could discover a joinable dataset containing population densities. We walk through our knowledge graph-based method for join detection

In [2]:
input_df = pd.read_csv('demo_lake/busridertbl.csv')

In [3]:
input_df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'dbo:BusCompany',
       '<http://dbpedia.org/property/annualRidership>',
       '<http://dbpedia.org/ontology/numberOfLines>', 'dbo:regionServed'],
      dtype='object')

In [4]:
# Set colormap equal to seaborns light green color palette
cm = sns.light_palette("green", as_cmap=True)

In [5]:
# Set CSS properties for th elements in dataframe
th_props = [
  ('font-size', '11px'),
  ('text-align', 'center'),
  ('font-weight', 'bold'),
  ('color', '#6d6d6d'),
  ('background-color', '#f7f7f9')
  ]

# Set CSS properties for td elements in dataframe
td_props = [
  ('font-size', '11px')
  ]

# Set table styles
styles = [
  dict(selector="th", props=th_props),
  dict(selector="td", props=td_props)
  ]

In [6]:
(input_df.style
   .set_properties(**{'background-color' : 'green'}, subset=['dbo:BusCompany'])
   .set_properties(**{'background-color' : 'yellow'}, subset=['dbo:regionServed'])
  #.background_gradient(cmap=cm, subset=['dbo:BusCompany','dbo:regionServed'])
  #.highlight_max(subset=['dbo:BusCompany','dbo:regionServed'])
  #.set_caption('The ground truth is in green, and the join key is yellow.')
  #.format({'dbo:regionServed': "{:.2%}"})
  .set_table_styles(styles))

In [7]:
out_df = pd.read_csv('demo_lake/busriderjoin.csv')

In [8]:
out_df.columns

Index(['Unnamed: 0', 'dbo:regionServed',
       '<http://dbpedia.org/ontology/PopulatedPlace/areaTotal>',
       'dbo:percentageOfAreaWater'],
      dtype='object')

In [9]:
(out_df.style
   #.set_properties(**{'background-color' : 'green'}, subset=['dbo:BusCompany'])
   .set_properties(**{'background-color' : 'yellow'}, subset=['dbo:regionServed'])
  #.background_gradient(cmap=cm, subset=['dbo:BusCompany','dbo:regionServed'])
  #.highlight_max(subset=['dbo:BusCompany','dbo:regionServed'])
  #.set_caption('The ground truth is in green, and the join key is yellow.')
  #.format({'dbo:regionServed': "{:.2%}"})
  .set_table_styles(styles))

## Example 2: Joining ETFs and Mutual Fund historical data without a KG

In [10]:
fulldf = pd.read_csv('data/ETF prices.csv')
fulldf.dtypes['price_date']
fulldf['price_date'] = pd.to_datetime(fulldf['price_date'])
fulldf = fulldf.sort_values(by='price_date')
fulldf.set_index('price_date')

           fund_symbol    open    high     low   close  adj_close   volume
price_date
1993-01-29         SPY   43.97   43.97   43.75   43.94      25.80  1003200
1993-02-01         SPY   43.97   44.25   43.97   44.25      25.98   480500
1993-02-02         SPY   44.22   44.38   44.12   44.34      26.04   201300
1993-02-03         SPY   44.41   44.84   44.38   44.81      26.31   529400
1993-02-04         SPY   44.97   45.09   44.47   45.00      26.42   531500
...                ...     ...     ...     ...     ...        ...      ...
2021-11-30       USLVF   65.33   65.33   61.00   61.85      61.85     9200
2021-11-30         GBF  122.54  122.54  122.12  122.26     122.26     5000
2021-11-30        GBGR   23.05   23.05   23.05   23.05      23.05      200
2021-11-30        USMF   39.80   39.80   39.42   39.42      39.42     7300
2021-11-30         ZSL   28.15   28.73   25.91   28.49      28.49   219400

[3866030 rows x 7 columns]

In [11]:
df1 = fulldf[:50]
proxy_df = fulldf[51:100]

In [12]:
df1

        fund_symbol price_date   open   high    low  close  adj_close   volume
3262244         SPY 1993-01-29  43.97  43.97  43.75  43.94      25.80  1003200
3262245         SPY 1993-02-01  43.97  44.25  43.97  44.25      25.98   480500
3262246         SPY 1993-02-02  44.22  44.38  44.12  44.34      26.04   201300
3262247         SPY 1993-02-03  44.41  44.84  44.38  44.81      26.31   529400
3262248         SPY 1993-02-04  44.97  45.09  44.47  45.00      26.42   531500
3262249         SPY 1993-02-05  44.97  45.06  44.72  44.97      26.41   492100
3262250         SPY 1993-02-08  44.97  45.12  44.91  44.97      26.41   596100
3262251         SPY 1993-02-09  44.81  44.81  44.56  44.66      26.22   122100
3262252         SPY 1993-02-10  44.66  44.75  44.53  44.72      26.26   379600
3262253         SPY 1993-02-11  44.78  45.12  44.78  44.94      26.39    19500
3262254         SPY 1993-02-12  44.88  44.88  44.59  44.59      26.19    42500
3262255         SPY 1993-02-16  44.47  44.47  43.41  43.47      25.52   374800
3262256         SPY 1993-02-17  43.47  43.53  43.28  43.44      25.51   210900
3262257         SPY 1993-02-18  43.94  43.94  42.81  43.41      25.49   378100
3262258         SPY 1993-02-19  43.41  43.56  43.34  43.56      25.58    34900
3262259         SPY 1993-02-22  43.69  43.78  43.56  43.72      25.67   513600
3262260         SPY 1993-02-23  43.84  43.88  43.47  43.69      25.65   373700
3262261         SPY 1993-02-24  43.72  44.25  43.72  44.25      25.98    26300
3262262         SPY 1993-02-25  44.22  44.38  44.12  44.34      26.04    44500
3262263         SPY 1993-02-26  44.44  44.44  44.19  44.41      26.08    66200
3262264         SPY 1993-03-01  44.56  44.56  44.22  44.28      26.00    66500
3262265         SPY 1993-03-02  44.31  44.94  44.25  44.94      26.39   182400
3262266         SPY 1993-03-03  45.00  45.16  44.94  45.12      26.50   280100
3262267         SPY 1993-03-04  45.19  45.19  44.88  44.88      26.35    89500
3262268         SPY 1993-03-05  44.94  45.12  44.72  44.75      26.28    40000
3262269         SPY 1993-03-08  44.84  45.75  44.84  45.75      26.86    50800
3262270         SPY 1993-03-09  45.66  45.69  45.50  45.59      26.77   169300
3262271         SPY 1993-03-10  45.59  45.69  45.41  45.69      26.83   194400
3262272         SPY 1993-03-11  45.72  45.84  45.50  45.56      26.75    70900
3262273         SPY 1993-03-12  45.19  45.22  44.81  45.09      26.48   643600
3262274         SPY 1993-03-15  45.06  45.31  45.06  45.31      26.61   310800
3262275         SPY 1993-03-16  45.31  45.44  45.31  45.31      26.61    30800
3262276         SPY 1993-03-17  45.25  45.25  44.97  45.03      26.44    21800
3262277         SPY 1993-03-18  45.22  45.50  45.22  45.31      26.61    59300
3262278         SPY 1993-03-19  45.28  45.28  45.03  45.03      26.57    66900
3262279         SPY 1993-03-22  44.59  44.88  44.56  44.78      26.42   183400
3262280         SPY 1993-03-23  44.91  44.94  44.81  44.88      26.47    55200
3262281         SPY 1993-03-24  44.81  45.06  44.59  44.88      26.47    37200
3262282         SPY 1993-03-25  44.91  45.25  44.84  45.16      26.64   110100
3262283         SPY 1993-03-26  45.12  45.16  44.88  44.91      26.49   101500
3262284         SPY 1993-03-29  44.94  45.31  44.94  45.09      26.60    87100
3262285         SPY 1993-03-30  45.16  45.22  45.09  45.22      26.68    56000
3262286         SPY 1993-03-31  45.34  45.47  45.19  45.19      26.66   111600
3262287         SPY 1993-04-01  45.25  45.25  44.94  45.03      26.57   129500
3262288         SPY 1993-04-02  44.66  44.66  44.09  44.09      26.01    59400
3262289         SPY 1993-04-05  44.44  44.44  44.19  44.31      26.14   172200
3262290         SPY 1993-04-06  44.41  44.41  44.06  44.19      26.07   129700
3262291         SPY 1993-04-07  44.25  44.34  44.16  44.34      26.16    28000
3262292         SPY 1993-04-08  44.53  44.53  44.09  44.28      26.12   180800
3262293         SPY 1993-04-12  44.72  44.94  44.66  44.91      26.49   348500

In [13]:
(df1.style
   #.set_properties(**{'background-color' : 'green'}, subset=['dbo:BusCompany'])
   .set_properties(**{'background-color' : 'yellow'}, subset=['price_date'])
  #.background_gradient(cmap=cm, subset=['dbo:BusCompany','dbo:regionServed'])
  #.highlight_max(subset=['dbo:BusCompany','dbo:regionServed'])
  #.set_caption('The ground truth is in green, and the join key is yellow.')
  #.format({'dbo:regionServed': "{:.2%}"})
  .set_table_styles(styles))

In [14]:
nonkg_out = pd.read_csv('data/MutualFund prices - A-E.csv', nrows=50)

In [15]:
(nonkg_out.style
   #.set_properties(**{'background-color' : 'green'}, subset=['dbo:BusCompany'])
   .set_properties(**{'background-color' : 'yellow'}, subset=['price_date'])
  #.background_gradient(cmap=cm, subset=['dbo:BusCompany','dbo:regionServed'])
  #.highlight_max(subset=['dbo:BusCompany','dbo:regionServed'])
  #.set_caption('The ground truth is in green, and the join key is yellow.')
  #.format({'dbo:regionServed': "{:.2%}"})
  .set_table_styles(styles))

In [16]:
(proxy_df.style
   #.set_properties(**{'background-color' : 'green'}, subset=['dbo:BusCompany'])
   .set_properties(**{'background-color' : 'yellow'}, subset=['price_date'])
  #.background_gradient(cmap=cm, subset=['dbo:BusCompany','dbo:regionServed'])
  #.highlight_max(subset=['dbo:BusCompany','dbo:regionServed'])
  #.set_caption('The ground truth is in green, and the join key is yellow.')
  #.format({'dbo:regionServed': "{:.2%}"})
  .set_table_styles(styles))

In [17]:
def display_results(df, col2highlight, styles):
    return (df.style
   #.set_properties(**{'background-color' : 'green'}, subset=['dbo:BusCompany'])
   .set_properties(**{'background-color' : 'yellow'}, subset=[col2highlight])
  #.background_gradient(cmap=cm, subset=['dbo:BusCompany','dbo:regionServed'])
  #.highlight_max(subset=['dbo:BusCompany','dbo:regionServed'])
  #.set_caption('The ground truth is in green, and the join key is yellow.')
  #.format({'dbo:regionServed': "{:.2%}"})
  .set_table_styles(styles))

In [18]:
display_df(proxy_df, 'price_date', styles)

In [3]:
display_results()

TypeError: display_results() missing 1 required positional argument: 'infile'

In [136]:
pd.set_option('display.max_colwidth', 10)
#pd.set_option("display.chop_threshold", 8)

In [137]:
def prettify_st(st : str):
    if st.startswith('dbo:'):
        new_st = st[4:]
        return new_st
    elif 'http' in st:
        new_st = st.split('/')[-1]
        return new_st
    else:
        #leave it alone
        return st

In [142]:
def display_kg(indf, in_ent, in_jk, df, ent_col, jk_col, styles, title, rel_score):
    if 'Unnamed: 0.1' in indf.columns:
        indf = indf.drop(columns=['Unnamed: 0.1'])
    if 'Unnamed: 0.1' in df.columns:
        df = df.drop(columns=['Unnamed: 0.1'])
    pretty_incol_lst = [{incol : prettify_st(incol)} for incol in indf.columns]
    pretty_incols = {}
    for e in pretty_incol_lst:
        for k in e:
            pretty_incols[k] = e[k]
    
    pretty_outcol_lst = [{outcol : prettify_st(outcol)} for outcol in df.columns]
    pretty_outcols = {}
    for e in pretty_outcol_lst:
        for k in e:
            pretty_outcols[k] = e[k]
    
    pretty_indf = indf.rename(columns=pretty_incols)
    pretty_df = df.rename(columns=pretty_outcols)
    print(pretty_indf.columns)
    print(pretty_df.columns)
    # print(pretty_indf.index.is_unique)
    # print(pretty_df.index.is_unique)
    
    inobj_cols = pretty_indf.select_dtypes(include='object').head()
    oobj_cols = pretty_df.select_dtypes(include='object').head()
    
    infl_cols = pretty_indf.select_dtypes(include='float').head()
    ofl_cols = pretty_df.select_dtypes(include='float').head()
    
    
    for c in inobj_cols:
        pretty_indf[c] = pretty_indf[c].apply(lambda x: prettify_st(x))
    
    for c in oobj_cols:
        pretty_df[c] = pretty_df[c].apply(lambda x: prettify_st(x))
    
    infl_dct = {}
    ofl_dct = {}
    for c in infl_cols:
        infl_dct[c] = '{:.2f}'
    
    for c in ofl_cols:
        ofl_dct[c] = '{:.2f}'
    
    
    
    pd.set_option('display.max_colwidth', 10)
    #space = "\xa0" * 10
    space = ""
    indf_styler = (pretty_indf.style
                   .set_table_attributes("style='display:inline; margin-right:20px;'")
                   .set_properties(**{'background-color' : 'yellow'}, subset=[pretty_incols[in_jk]])
                   .set_properties(**{'background-color' : 'green'}, subset=[pretty_incols[in_ent]])
                   .set_caption('KG Table: ' + title)
                   #.set_table_styles(styles)
                   .format(infl_dct))
    
    
    
    if ent_col == jk_col:
        outdf_styler = (pretty_df.style
                        .set_table_attributes("style='display:inline'")
                        .set_properties(**{'background-color' : 'yellow'}, subset=[pretty_outcols[jk_col]])
                        .set_caption('KG Table: ' + title + ',Relationship Strength: ' + str(rel_score))
                        #.set_table_styles(styles)
                        .format(ofl_dct))
    
    else:
        outdf_styler = (pretty_df.style
                       .set_table_attributes("style='display:inline'")
                       .set_properties(**{'background-color' : 'green'}, subset=[pretty_outcols[ent_col]])
                       .set_properties(**{'background-color' : 'yellow'}, subset=[pretty_outcols[jk_col]])
  #.background_gradient(cmap=cm, subset=['dbo:BusCompany','dbo:regionServed'])
  #.highlight_max(subset=['dbo:BusCompany','dbo:regionServed'])
  #.set_caption('The ground truth is in green, and the join key is yellow.')
  #.format({'dbo:regionServed': "{:.2%}"})
                       #.set_table_styles(styles)
                       .format(ofl_dct))
    
    final_display_obj = indf_styler._repr_html_() + outdf_styler._repr_html_()
    final_display_obj = final_display_obj.replace('table','table style="display:inline"')
    return final_display_obj

In [143]:
indf = pd.read_csv('demo_lake/busridertbl.csv', nrows=5)
in_jk = 'dbo:regionServed'
in_ent = 'dbo:BusCompany'
outdf = pd.read_csv('demo_lake/busriderjoin.csv', nrows=5)
out_jk = 'dbo:regionServed'
out_ent = 'dbo:regionServed'
rel_score = 0.04950495049504951
title = 'demo_lake/busriderjoin.csv'

# Set colormap equal to seaborns light green color palette
cm = sns.light_palette("green", as_cmap=True)

# Set CSS properties for th elements in dataframe
th_props = [
  ('font-size', '11px'),
  ('text-align', 'center'),
  ('font-weight', 'bold'),
  ('color', '#6d6d6d'),
  ('background-color', '#f7f7f9')
  ]

# Set CSS properties for td elements in dataframe
td_props = [
  ('font-size', '11px'),
  ('vertical-align', 'top')
  ]

#css = [
#    ('flex-direction', 'row')
#    ]

# Set table styles
styles = [
  dict(selector="th", props=th_props),
  dict(selector="td", props=td_props)
  #dict(selector="css", props=css)
  ]


from IPython.display import display_html
#pd.set_option('display.max_colwidth', 5)
display_html(display_kg(indf, in_ent, in_jk, outdf, out_ent, out_jk, styles, title, rel_score), raw=True)

Index(['Unnamed: 0', 'BusCompany', 'annualRidership>', 'numberOfLines>',
       'regionServed'],
      dtype='object')
Index(['Unnamed: 0', 'regionServed', 'areaTotal>', 'percentageOfAreaWater'], dtype='object')

In [34]:
pd.set_option('display.max_colwidth', 10)

In [46]:
indf.dtypes['dbo:BusCompany']

dtype('O')

In [22]:
pd.get_option()

compute.use_bottleneck : bool
    Use the bottleneck library to accelerate if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
compute.use_numba : bool
    Use the numba engine option for select operations if it is installed,
    the default is False
    Valid values: False,True
    [default: False] [currently: False]
compute.use_numexpr : bool
    Use the numexpr library to accelerate computation if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
display.chop_threshold : float or None
    if set to a float value, all float values smaller then the given threshold
    will be displayed as exactly 0 by repr and friends.
    [default: None] [currently: None]
display.colheader_justify : 'left'/'right'
    Controls the justification of column headers. used by DataFrameFormatter.
    [default: right] [currently: right]
display.column_space No description available.
    [default: 12] [currently: 12]
display.date_dayfirst : boolean
    When True, prints and parses dates with the day first, eg 20/01/2005
    [default: False] [currently: False]
display.date_yearfirst : boolean
    When True, prints and parses dates with the year first, eg 2005/01/20
    [default: False] [currently: False]
display.encoding : str/unicode
    Defaults to the detected encoding of the console.
    Specifies the encoding to be used for strings returned by to_string,
    these are generally strings meant to be displayed on the console.
    [default: UTF-8] [currently: UTF-8]
display.expand_frame_repr : boolean
    Whether to print out the full DataFrame repr for wide DataFrames across
    multiple lines, `max_columns` is still respected, but the output will
    wrap-around across multiple "pages" if its width exceeds `display.width`.
    [default: True] [currently: True]
display.float_format : callable
    The callable should accept a floating point number and return
    a string with the desired format of the number. This is used
    in some places like SeriesFormatter.
    See formats.format.EngFormatter for an example.
    [default: None] [currently: None]
display.html.border : int
    A ``border=value`` attribute is inserted in the ``<table>`` tag
    for the DataFrame HTML repr.
    [default: 1] [currently: 1]
display.html.table_schema : boolean
    Whether to publish a Table Schema representation for frontends
    that support it.
    (default: False)
    [default: False] [currently: False]
display.html.use_mathjax : boolean
    When True, Jupyter notebook will process table contents using MathJax,
    rendering mathematical expressions enclosed by the dollar symbol.
    (default: True)
    [default: True] [currently: True]
display.large_repr : 'truncate'/'info'
    For DataFrames exceeding max_rows/max_cols, the repr (and HTML repr) can
    show a truncated table (the default from 0.13), or switch to the view from
    df.info() (the behaviour in earlier versions of pandas).
    [default: truncate] [currently: truncate]
display.latex.escape : bool
    This specifies if the to_latex method of a Dataframe uses escapes special
    characters.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.longtable :bool
    This specifies if the to_latex method of a Dataframe uses the longtable
    format.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.multicolumn : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.multicolumn_format : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: l] [currently: l]
display.latex.multirow : bool
    This specifies if the to_latex method of a Dataframe uses multirows
    to pretty-print MultiIndex rows.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.repr : boolean
    Whether to produce a latex DataFrame representation for jupyter
    environments that support it.
    (default: False)
    [default: False] [currently: False]
display.max_categories : int
    This sets the maximum number of categories pandas should output when
    printing out a `Categorical` or a Series of dtype "category".
    [default: 8] [currently: 8]
display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]
display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 1]
display.max_info_columns : int
    max_info_columns is used in DataFrame.info method to decide if
    per column information will be printed.
    [default: 100] [currently: 100]
display.max_info_rows : int or None
    df.info() will usually show null-counts for each column.
    For large frames this can be quite slow. max_info_rows and max_info_cols
    limit this null check only to frames with smaller dimensions than
    specified.
    [default: 1690785] [currently: 1690785]
display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]
display.max_seq_items : int or None
    When pretty-printing a long sequence, no more then `max_seq_items`
    will be printed. If items are omitted, they will be denoted by the
    addition of "..." to the resulting string.

    If set to None, the number of items to be printed is unlimited.
    [default: 100] [currently: 100]
display.memory_usage : bool, string or None
    This specifies if the memory usage of a DataFrame should be displayed when
    df.info() is called. Valid values True,False,'deep'
    [default: True] [currently: True]
display.min_rows : int
    The numbers of rows to show in a truncated view (when `max_rows` is
    exceeded). Ignored when `max_rows` is set to None or 0. When set to
    None, follows the value of `max_rows`.
    [default: 10] [currently: 10]
display.multi_sparse : boolean
    "sparsify" MultiIndex display (don't display repeated
    elements in outer levels within groups)
    [default: True] [currently: True]
display.notebook_repr_html : boolean
    When True, IPython notebook will use html representation for
    pandas objects (if it is available).
    [default: True] [currently: True]
display.pprint_nest_depth : int
    Controls the number of nested levels to process when pretty-printing
    [default: 3] [currently: 3]
display.precision : int
    Floating point output precision in terms of number of places after the
    decimal, for regular formatting as well as scientific notation. Similar
    to ``precision`` in :meth:`numpy.set_printoptions`.
    [default: 6] [currently: 6]
display.show_dimensions : boolean or 'truncate'
    Whether to print out dimensions at the end of DataFrame repr.
    If 'truncate' is specified, only print out the dimensions if the
    frame is truncated (e.g. not display all rows and/or columns)
    [default: truncate] [currently: truncate]
display.unicode.ambiguous_as_wide : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.unicode.east_asian_width : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.width : int
    Width of the display in characters. In case python/IPython is running in
    a terminal this can be set to None and pandas will correctly auto-detect
    the width.
    Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
    terminal and hence it is not possible to correctly detect the width.
    [default: 80] [currently: 80]
io.excel.ods.reader : string
    The default Excel reader engine for 'ods' files. Available options:
    auto, odf.
    [default: auto] [currently: auto]
io.excel.ods.writer : string
    The default Excel writer engine for 'ods' files. Available options:
    auto, odf.
    [default: auto] [currently: auto]
io.excel.xls.reader : string
    The default Excel reader engine for 'xls' files. Available options:
    auto, xlrd.
    [default: auto] [currently: auto]
io.excel.xls.writer : string
    The default Excel writer engine for 'xls' files. Available options:
    auto, xlwt.
    [default: auto] [currently: auto]
    (Deprecated, use `` instead.)
io.excel.xlsb.reader : string
    The default Excel reader engine for 'xlsb' files. Available options:
    auto, pyxlsb.
    [default: auto] [currently: auto]
io.excel.xlsm.reader : string
    The default Excel reader engine for 'xlsm' files. Available options:
    auto, xlrd, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsm.writer : string
    The default Excel writer engine for 'xlsm' files. Available options:
    auto, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsx.reader : string
    The default Excel reader engine for 'xlsx' files. Available options:
    auto, xlrd, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsx.writer : string
    The default Excel writer engine for 'xlsx' files. Available options:
    auto, openpyxl, xlsxwriter.
    [default: auto] [currently: auto]
io.hdf.default_format : format
    default format writing format, if None, then
    put will default to 'fixed' and append will default to 'table'
    [default: None] [currently: None]
io.hdf.dropna_table : boolean
    drop ALL nan rows when appending to a table
    [default: False] [currently: False]
io.parquet.engine : string
    The default parquet reader/writer engine. Available options:
    'auto', 'pyarrow', 'fastparquet', the default is 'auto'
    [default: auto] [currently: auto]
io.sql.engine : string
    The default sql reader/writer engine. Available options:
    'auto', 'sqlalchemy', the default is 'auto'
    [default: auto] [currently: auto]
mode.chained_assignment : string
    Raise an exception, warn, or no action if trying to use chained assignment,
    The default is warn
    [default: warn] [currently: warn]
mode.data_manager : string
    Internal data manager type; can be "block" or "array". Defaults to "block",
    unless overridden by the 'PANDAS_DATA_MANAGER' environment variable (needs
    to be set before pandas is imported).
    [default: block] [currently: block]
mode.sim_interactive : boolean
    Whether to simulate interactive mode for purposes of testing
    [default: False] [currently: False]
mode.string_storage : string
    The default storage for StringDtype.
    [default: python] [currently: python]
mode.use_inf_as_na : boolean
    True means treat None, NaN, INF, -INF as NA (old way),
    False means None and NaN are null, but INF, -INF are not NA
    (new way).
    [default: False] [currently: False]
mode.use_inf_as_null : boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.
    [default: False] [currently: False]
    (Deprecated, use `mode.use_inf_as_na` instead.)
plotting.backend : str
    The plotting backend to use. The default value is "matplotlib", the
    backend provided with pandas. Other backends can be specified by
    providing the name of the module that implements the backend.
    [default: matplotlib] [currently: matplotlib]
plotting.matplotlib.register_converters : bool or 'auto'.
    Whether to register converters with matplotlib's units registry for
    dates, times, datetimes, and Periods. Toggling to False will remove
    the converters, restoring any converters that pandas overwrote.
    [default: auto] [currently: auto]
styler.render.max_elements : int
    The maximum number of data-cell (<td>) elements that will be rendered before
    trimming will occur over columns, rows or both if needed.
    [default: 262144] [currently: 262144]
styler.sparse.columns : bool
    Whether to sparsify the display of hierarchical columns. Setting to False will
    display each explicit level element in a hierarchical key for each column.
    [default: True] [currently: True]
styler.sparse.index : bool
    Whether to sparsify the display of a hierarchical index. Setting to False will
    display each explicit level element in a hierarchical key for each row.
    [default: True] [currently: True]

In [116]:
from itertools import chain,cycle
#here's one more attempt at side-by-side
def display_side_by_side(*args,titles=cycle([''])):
    html_str=''
    for df,title in zip(args, chain(titles,cycle(['</br>'])) ):
        if type(df) == list:
            print(df)
        html_str+='<th style="text-align:center"><td style="vertical-align:top">'
        html_str+=f'<h2 style="text-align: center;">{title}</h2>'
        html_str+=df.to_html().replace('table','table style="display:inline"')
        html_str+='</td></th>'
    display_html(html_str,raw=True)

In [117]:
display_side_by_side(indf, outdf, titles=['input', 'output'])